<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.na/thymeleaf/layout"
      layout:decorator="layout/default">
<head lang="pl">
    <meta charset="UTF-8" />
    <title>Created</title>
</head>
<body>
<div class="row" layout:fragment="content">
    <h5 class="indigo-text center" th:text="#{successfullyCreated}">Successfully created!</h5>

    <center>
        <div class="input-field col s12">
            <a href="/login" th:href="@{login}" th:text="#{loginText}">Login</a>
        </div>
    </center>
</div>
</body>
</html>