<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.na/thymeleaf/layout"
      layout:decorator="layout/default">
<head lang="pl">
    <meta charset="UTF-8" />
    <title>Create a new Customer</title>
</head>
<body>
<div class="row" layout:fragment="content">


    <div class="container center">
        <div class="row">
        <div class="col s12 z-depth-4 card-panel">
            <form class="col s12" th:action="@{/createCustomer}" method="post" th:object="${profileForm}">

                <div class="row">
                    <div class="input-field col s12 center">
                        <h5 class="indigo-text center" th:text="#{createNewAccount}">Create a new Customer</h5>
                    </div>
                </div>

                <div class='row margin'>
                    <div class='col s12'>
                        <div id="errorMessage" class="card-panel red lighten-2" th:if="${error}">
                            <span class="card-title" th:text="${error}"></span>
                        </div>
                    </div>
                </div>

                <div class='row margin'>
                    <div class='input-field col s12'>
                        <input class='validate' type='text' name='login' id='login'
                               th:field="${profileForm.login}" th:errorclass="invalid"/>
                        <label for='login' th:text="#{enterYourLogin}">Enter your login</label>
                        <div th:errors="${profileForm.login}" class="red-text">Error</div>
                    </div>
                </div>

                <div class='row margin'>
                    <div class='input-field col s12'>
                        <input class='validate' type='password' name='password' id='password'
                               th:field="${profileForm.password}" th:errorclass="invalid"/>
                        <label for='password' th:text="#{enterYourPassword}">Enter your password</label>
                        <div th:errors="${profileForm.password}" class="red-text">Error</div>
                    </div>
                </div>

                <div class='row margin'>
                    <div class='input-field col s12'>
                        <input class='validate' type='password' name='passwordAgain' id='passwordAgain'
                               th:field="${profileForm.passwordRepeated}" th:errorclass="invalid"/>
                        <label for='passwordAgain' th:text="#{repeatYourPassword}">Repeat your password</label>
                        <div th:errors="${profileForm.passwordRepeated}" class="red-text">Error</div>
                    </div>
                </div>

                <div class='row margin'>
                    <div class='input-field col s12'>
                        <input class='validate' type='email' name='email' id='email'
                               th:field="${profileForm.email}" th:errorclass="invalid"/>
                        <label for='email' th:text="#{enterYourEmail}">Enter your email</label>
                        <div th:errors="${profileForm.email}" class="red-text">Error</div>
                    </div>
                </div>

                <div class='row margin'>
                    <div class='input-field col s12'>
                        <input class='validate' type='text' name='firstName' id='firstName'
                               th:field="${profileForm.firstName}" th:errorclass="invalid"/>
                        <label for='firstName' th:text="#{enterYourFirstName}">Enter your first name</label>

                    </div>
                </div>

                <div class='row margin'>
                    <div class='input-field col s12'>
                        <input class='validate' type='text' name='lastName' id='lastName'
                               th:field="${profileForm.lastName}" th:errorclass="invalid"/>
                        <label for='lastName' th:text="#{enterYourLastName}">Enter your last name</label>

                    </div>
                </div>

                <div class='row margin'>
                    <div class='input-field col s12'>
                        <input class='validate' type='text' name='addressStreet' id='addressStreet'
                               th:field="${profileForm.street}" th:errorclass="invalid"/>
                        <label for='addressStreet' th:text="#{enterYourAddressStreet}">Enter the street</label>
                    </div>
                </div>

                <div class='row margin'>
                    <div class='input-field col s12'>
                        <input class='validate' type='text' name='addressZipcode' id='addressZipcode'
                               th:field="${profileForm.zipcode}" th:errorclass="invalid"/>
                        <label for='addressZipcode' th:text="#{enterYourAddressZipcode}">Enter the zipcode</label>
                    </div>
                </div>

                <div class='row margin'>
                    <div class='input-field col s12'>
                        <input class='validate' type='text' name='addressCity' id='addressCity'
                               th:field="${profileForm.city}" th:errorclass="invalid"/>
                        <label for='addressCity' th:text="#{enterYourAddressCity}">Enter the city</label>
                    </div>
                </div>

                <center>
                    <div class="row">
                        <button type="submit" name="btn_create" class="col s12 btn btn-large waves-effect indigo" th:text="#{create}">Create</button>
                    </div>
                    <div class="input-field col s12">
                        <span class="margin center medium-small sign-up" th:text="#{alreadyHaveAccount}">Already have an account? </span>  <a href="/login" th:href="@{login}" th:text="#{loginText}">Login</a>
                    </div>
                </center>
            </form>
        </div>
        </div>
    </div>

</div>
</body>
</html>