<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.na/thymeleaf/layout"
      layout:decorator="layout/default">
<head lang="pl">
    <meta charset="UTF-8" />
    <title>Login</title>
</head>
<body>
<div class="row" layout:fragment="content">

    <div class="container center">
        <div class="row">
            <div class="col s12 z-depth-4 card-panel">

                <div class='row margin'>
                    <div class='col s12'>
                        <div id="updateMessage" class="card-panel green lighten-2" th:if="${updateMessage}">
                            <span class="card-title" th:text="${updateMessage}"></span>
                        </div>
                        <div id="errorMessage" class="card-panel red lighten-2" th:if="${error}">
                                <span class="card-title" th:text="${error}"></span>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 center">
                        <h5 class="indigo-text center" th:text="#{profile}">Profile</h5>
                    </div>
                </div>

                <form class="col s12" th:action="@{/update}" method="post" th:object="${profileForm}" enctype="multipart/form-data">

                <div id="input-file-input" class="section">
                    <div class="row">
                        <div class="col s2 m4 l3">
                            <!--<img src="images/default.jpg" id="profilePhoto" class="circle profile-image valign profile-image-post"/>-->
                            <img th:src="@{/profileImage}" id="profilePhoto" class="circle profile-image valign profile-image-post"/>
                        </div>
                        <div class="col s10 m8 l9">
                            <div class="file-field input-field">
                                    <div class="btn">
                                        <span th:text="#{updatePhoto}">Update photo </span>
                                        <input type="file" id="photoSelector" name="photoSelector"/>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='row margin'>
                    <div class='input-field col s12'>
                        <input class='validate' type='email' name='email' id='email'
                               th:field="${profileForm.email}" th:errorclass="invalid"/>
                        <label for='email'>Email</label>
                        <div th:errors="${profileForm.email}" class="red-text">Error</div>
                    </div>
                </div>

                <div class='row margin'>
                    <div class='input-field col s12'>
                        <input class='validate' type='text' name='firstName' id='firstName'
                               th:field="${profileForm.firstName}" th:errorclass="invalid"/>
                        <label for='firstName' th:text="#{firstName}">First name</label>
                        <div th:errors="${profileForm.firstName}" class="red-text">Error</div>
                    </div>
                </div>

                <div class='row margin'>
                    <div class='input-field col s12'>
                        <input class='validate' type='text' name='lastName' id='lastName'
                               th:field="${profileForm.lastName}" th:errorclass="invalid"/>
                        <label for='lastName' th:text="#{lastName}">Last name</label>
                        <div th:errors="${profileForm.lastName}" class="red-text">Error</div>
                    </div>
                </div>

                <div class='row margin'>
                    <div class='input-field col s12'>
                        <input class='validate' type='text' name='addressStreet' id='addressStreet'
                               th:field="${profileForm.street}" th:errorclass="invalid"/>
                        <label for='addressStreet' th:text="#{street}">Street</label>
                        <div th:errors="${profileForm.street}" class="red-text">Error</div>
                    </div>
                </div>

                    <div class='row margin'>
                        <div class='input-field col s12'>
                            <input class='validate' type='text' name='addressZipcode' id='addressZipcode'
                                   th:field="${profileForm.zipcode}" th:errorclass="invalid"/>
                            <label for='addressZipcode' th:text="#{zipcode}">Zipcode</label>
                            <div th:errors="${profileForm.zipcode}" class="red-text">Error</div>
                        </div>
                    </div>

                    <div class='row margin'>
                        <div class='input-field col s12'>
                            <input class='validate' type='text' name='addressCity' id='addressCity'
                                   th:field="${profileForm.city}" th:errorclass="invalid"/>
                            <label for='addressCity' th:text="#{city}">City</label>
                            <div th:errors="${profileForm.city}" class="red-text">Error</div>
                    </div>
                </div>

                <center>
                    <div class="row margin">
                        <div class='col s12'>
                            <button type="submit" name="btn_create" class="btn btn-large waves-effect indigo" th:text="#{saveChanges}">Save changes</button>
                        </div>
                    </div>
                    <div class="row margin">
                        <div class='col s12'>
                            <a href="" th:href="@{logout}" th:text="#{logoutText}">Logout</a>
                        </div>
                    </div>
                </center>

            </form>
        </div>
        </div>
    </div>
</div>
</body>
</html>