<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.na/thymeleaf/layout"
      layout:decorator="layout/default">
<head lang="pl">
    <meta charset="UTF-8" />
    <title>Login</title>
</head>
<body>
    <div class="row" layout:fragment="content">
        <h5 class="indigo-text center">Login</h5>

        <div class="container center">

            <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
                <form class="col s12" th:action="@{/login}" method="post" th:object="${profileForm}">
                    <div class='row'>
                        <div class='col s12'>
                            <div id="errorMessage" class="card-panel red lighten-2" th:if="${error}">
                                <span class="card-title" th:text="${error}"></span>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s12'>
                            <input class='validate' type='text' name='login' id='login'
                                   th:field="${profileForm.login}" th:errorclass="invalid" required="required"/>
                            <label for='login' th:text="#{enterLogin}">Enter your login</label>
                            <div th:errors="*{login}" class="red-text">Error</div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s12'>
                            <input class='validate' type='password' name='password' id='password'
                                   th:field="${profileForm.password}" th:errorclass="invalid" required="required"/>
                            <label for='password' th:text="#{enterPassword}">Enter your password</label>
                            <div th:errors="*{password}" class="red-text">Error</div>
                        </div>
                        <label style='float: right;'>
                            <a class='pink-text' href='#!' th:text="#{forgotPassword}"><b>Forgot Password?</b></a>
                        </label>
                    </div>

                    <center>
                        <div class="row">
                            <button type="submit" name="btn_login" class="col s12 btn btn-large waves-effect indigo" th:text="#{loginText}">Login</button>
                        </div>
                    </center>
                </form>
            </div>
            <a href="" th:href="@{createForm}" th:text="#{createAccount}">Create account</a>
        </div>

    </div>
</body>
</html>